body {
  background-image: url("./img/cosmo.jpeg");
  background-size: cover;
  background-repeat: repeat;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  
}

.app {
  text-align: center;
}


.spotifyButton {
  display: flex;
  justify-content: right;
  align-items: right;
  margin: 0 50px 0 0;
}

.spotifyButton a {
  background-color: #1db954;
  border-radius: 10px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  
}

.spotifyButton button {
  background-color: #1db954;
  border-radius: 25px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.spotifyButton span {
  background-color: black;
  border-radius: 25px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  margin-right: 15px;
}

#searchButton {
  background-color: #1db954;
  border-radius: 12.5px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  margin: 15px;
  cursor: pointer;
  
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.main {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr .25fr 1fr ;
  margin: 0;
}
.leftContainer {
  grid-column: 1/2;
  background-color: slategray;
  font-size: 32px;
  border-radius: 25px;
  margin: 5% 0 115px 5%;
  padding: 15px;
}
.leftContainer input{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-color: black;
  border-width: 2.5px;
  font-size: 26px;
  font-weight: bold;
  border-radius: 25px;
}

.leftContainer h2{
  font-size: 24px;
}

.leftContainer input:focus {
  border: 5px solid lightskyblue;
}
.resultHeader {
  display: grid;
  align-items: center;
  grid-template-columns:  .75fr 1fr 1fr .5fr;
  margin-bottom: 35px;
}
.resultItem {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: .75fr 1fr 1fr .5fr;
  gap: 10px;
  font-size: 26px;
  margin-bottom: 20px;
}

.resultItem2 {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: .75fr 1fr 1fr .5fr;
  gap: 10px;
  font-size: 26px;
  margin-bottom: 20px;
}

.resultItem button {
  background-color: #1db954;
  font-weight: 900;
}
.resultItem2 button {
  background-color: red;
  font-weight: 900;
  border-radius: 20px;
}

.resultItem img {
  width: 100px;
}

.resultItem2 img {
  width: 100px;
}

.resultItem p{
  margin: 0;
}

.resultItem2 p{
  margin: 0;
}

.rightContainerBackground {
  background-color: slategray;
  border-radius: 25px;
  font-size: 32px;
  margin: 5% 5% 115px 0;
  padding: 15px;
  grid-column: 3/4;
}

.rightContainer {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr; 
}

.rightContainer a:link {
  color:lightgray;
}

.rightContainer a:visited {
  color:lightgray;
}

.rightContainer a:active {
  color:lightgray;
}

.rightContainer a:hover {
  color:red;
}

.newTitle {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  padding-left: 30px;
  z-index: 1;
  font-weight:700;
}
.currentTitle {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: center;
  padding-left: 30px;
  z-index: 1;
  font-weight:700;
}
.currentSongs {
  grid-column: 4/5;
  grid-row: 1/2;
  text-align: center;
  padding-left: 30px;
  z-index: 1;
  font-weight:700;
}

#listOfCurrentPlaylists {
  display: none;
  grid-column: 2/4;
  grid-row: 2/3;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

#listOfPlaylistSongs {
  display: none;
  grid-column: 2/4;
  grid-row: 2/3;
}

#listOfCurrentPlaylists h4{
  text-align: center;
  color: lightblue;
}

.newPlaylistHeader input {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-color: black;
  border-width: 2.5px;
  font-size: 26px;
  font-weight: bold;
  border-radius: 25px;
}

#newPlaylistButton {
  background-color: #1db954;
  border-radius: 12.5px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  margin: 15px;
  cursor: pointer;
}

.playerFooter {
  position: fixed;
  Width: 100%;
  bottom: 0;
  background-color: black;
  height: 100px;
  font-weight: bold;
}